<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="<%= @routes_module.static_path(@conn, "/css/incendium.css") %>"/>
  <script src="<%= @routes_module.static_path(@conn, "/js/incendium.js") %>" charset="utf-8"></script>
  <style>
  <%= {:safe, extra_css()} %>
  </style>

  <title>Incendium Flamegraph</title>
</head>

<body>
  <h1>Incendium <small>(based on d3-flamegraph)</small></h1>
  <script type="text/javascript">
  <%= Incendium.View.render("flamegraph.js", id: @id, hierarchy: @hierarchy) %>
  </script>
</body>

</html>
